<!--The content below is only a placeholder and can be replaced.-->

<div id="header">
	<h3>Welcome To The Environmental Sensor Analysis Page</h3>
</div>
<div id="leftWindow">
	<h4>SELECT RANGE:</h4>
	FROM:<input type="text" class="datepicker" id="date1">
	TO:<input type="text" class="datepicker" id="date2">
	<h4>SELECT SENSOR:</h4>
	SENSOR 1 <input type="checkbox" name="sensors" id="sen1">
	SENSOR 2 <input type="checkbox" name="sensors" id="sen2">
	SENSOR 3 <input type="checkbox" name="sensors" id="sen3">
	
	<h4>SELECT VIEW:</h4>
	<form action="">
	  <input type="radio" name="graph" value="line"> Line
	  <input type="radio" name="graph" value="bar"> Bar
	  <input type="radio" name="graph" value="hist"> Histogram
	</form>
</div>
		
<div id="rightWindow">
</div>

			



